# Ignore Logs
logs
*.log

# CircuitPython boot and scraps
scraps.py
log.txt
boot_out.txt

# ignore the data specific to the instance, keep the folder
lib/*
!lib/.gitkeep
examples/*
!examples/.gitkeep


# Ignore IDE specific files and fragments from OS mounting as drive
.fseventsd/
.Trash-1000/
.Trash-*/
"System Volume Information"/
.vscode/